{% extends "base.html" %}
    {% block title %} TABOOK | Добавить таб {% endblock title %}
    {% block menu %} <a href="../../edit_melody/{{id}}"><<< НАЗАД</a> {% endblock menu %}
    {% block header %} Добавить таб: {% endblock header %}
    {% block content %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form_tab %}
                <div class="form">
                    {{field.label_tag}}
                    <div>{{field}}</div>
                </div>
            {% endfor %}
            <div class="form">
                <button type="submit">Добавить</button>
            </div>
        </form>
    {% endblock content %}





