{% extends "base.html" %}
    {% block title %} TABOOK | Изменить картинку {% endblock title %}
    {% block menu %} <a href="../../../edit_melody/{{melody_id}}"><<< НАЗАД</a> {% endblock menu %}
    {% block header %} Изменить картинку: {% endblock header %}
    {% block content %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-order-num-label">
                {{form_image.order_num.label_tag}}
                <div>{{form_image.order_num}}</div>
            </div>
            <div class="form-path">
                {{form_image.path.label_tag}}
                <div>{{form_image.path}}</div>
            </div>
            <div class="form">
                {{form_image.image_comment.label_tag}}
                <div>{{form_image.image_comment}}</div>
            </div>

            <div class="form">
                <button type="submit">Изменить</button>
            </div>
        </form>
    {% endblock content %}




